
.button:hover{
    -fx-background-color: #b2defd;
    -fx-text-fill: #000000;
    -fx-text-alignment: center;
}
.button{
    /*-fx-background-color: white;*/
    -fx-background-color: rgba(92, 196, 192, 0.65);
    -fx-text-fill: #ffffff;
}


