

.root {
    -fx-font-size: 14px;
    -fx-font-family: sans-serif;
    -fx-background-color: #ffffff;
}

.menu-section {
    -fx-padding: 1px;
    -fx-font-size: 12px;
    -fx-background-color: rgb(143, 143, 116);
    -fx-text-alignment: right;
}


.menu-section JFXButton {
    -fx-background-color: rgb(143, 143, 116);
    -fx-text-fill: white;
    -fx-text-alignment: right;
    -fx-font-size: 14px;
    -fx-padding: 0 0 0 10px;
}

#ventas {
    -fx-start-margin: 20px;
    -fx-background-color: rgb(143, 143, 116);
    -fx-background-image: url("/com/dp1mtel/desktop/pictures/ventas-white.png");
    -fx-background-size: 25px;
    -fx-background-position: 5px;

    -fx-background-repeat: no-repeat;
}

#ventas:hover {
    -fx-start-margin: 20px;
    -fx-background-color: rgba(27, 123, 86, 0.84);
    -fx-background-image: url("/com/dp1mtel/desktop/pictures/ventas-white.png");
    -fx-background-size: 25px;
    -fx-background-position: 5px;
    -fx-background-repeat: no-repeat;
}

#almacen {
    -fx-start-margin: 20px;
    -fx-background-color: rgb(143, 143, 116);
    -fx-background-image: url("/com/dp1mtel/desktop/pictures/almacen.png");
    -fx-background-size: 25px;
    -fx-background-position: 5px;
    -fx-background-repeat: no-repeat;
}
#almacen:hover {
    -fx-start-margin: 20px;
    -fx-background-color: rgba(27, 123, 86, 0.84);
    -fx-background-image: url("/com/dp1mtel/desktop/pictures/almacen.png");
    -fx-background-size: 25px;
    -fx-background-position: 5px;
    -fx-background-repeat: no-repeat;
}

#precioDesc {
    -fx-start-margin: 20px;
    -fx-background-color: rgb(143, 143, 116);
    -fx-background-image: url("/com/dp1mtel/desktop/pictures/descuento.png");
    -fx-background-size: 25px;
    -fx-background-position: 5px;
    -fx-background-repeat: no-repeat;
}
#precioDesc:hover {
    -fx-start-margin: 20px;
    -fx-background-color: rgba(27, 123, 86, 0.84);
    -fx-background-image: url("/com/dp1mtel/desktop/pictures/descuento.png");
    -fx-background-size: 25px;
    -fx-background-position: 5px;
    -fx-background-repeat: no-repeat;
}

#administracion {
    -fx-start-margin: 20px;
    -fx-background-color: rgb(143, 143, 116);
    -fx-background-image: url("/com/dp1mtel/desktop/pictures/administracion.png");
    -fx-background-size: 25px;
    -fx-background-position: 5px;
    -fx-background-repeat: no-repeat;
}
#administracion:hover {
    -fx-start-margin: 20px;
    -fx-background-color: rgba(27, 123, 86, 0.84);
    -fx-background-image: url("/com/dp1mtel/desktop/pictures/administracion.png");
    -fx-background-size: 25px;
    -fx-background-position: 5px;
    -fx-background-repeat: no-repeat;
}
#reportes {
    -fx-start-margin: 20px;
    -fx-background-color: rgb(143, 143, 116);
    -fx-background-image: url("/com/dp1mtel/desktop/pictures/reporte.png");
    -fx-background-size: 25px;
    -fx-background-position: 5px;
    -fx-background-repeat: no-repeat;
}
#reportes:hover {
    -fx-start-margin: 20px;
    -fx-background-color: rgba(27, 123, 86, 0.84);
    -fx-background-image: url("/com/dp1mtel/desktop/pictures/reporte.png");
    -fx-background-size: 25px;
    -fx-background-position: 5px;
    -fx-background-repeat: no-repeat;
}

#seguridad {
    -fx-start-margin: 20px;
    -fx-background-color: rgb(143, 143, 116);
    -fx-background-image: url("/com/dp1mtel/desktop/pictures/seguridad.png");
    -fx-background-size: 25px;
    -fx-background-position: 5px;
    -fx-background-repeat: no-repeat;
}
#seguridad:hover {
    -fx-start-margin: 20px;
    -fx-background-color: rgba(27, 123, 86, 0.84);
    -fx-background-image: url("/com/dp1mtel/desktop/pictures/seguridad.png");
    -fx-background-size: 25px;
    -fx-background-position: 5px;
    -fx-background-repeat: no-repeat;


}
#simulacion {
    -fx-start-margin: 20px;
    -fx-background-color: rgb(143, 143, 116);
    -fx-background-image: url("/com/dp1mtel/desktop/pictures/simulacion.png");
    -fx-background-size: 25px;
    -fx-background-position: 5px;
    -fx-background-repeat: no-repeat;
}
#simulacion:hover {
    -fx-start-margin: 20px;
    -fx-background-color: rgba(27, 123, 86, 0.84);
    -fx-background-image: url("/com/dp1mtel/desktop/pictures/simulacion.png");
    -fx-background-size: 25px;
    -fx-background-position: 5px;
    -fx-background-repeat: no-repeat;
}

#distribucion {
    -fx-start-margin: 20px;
    -fx-background-color: rgb(143, 143, 116);
    -fx-background-image: url("/com/dp1mtel/desktop/pictures/distribucion.png");
    -fx-background-size: 25px;
    -fx-background-position: 5px;
    -fx-background-repeat: no-repeat;
}
#distribucion:hover {
    -fx-start-margin: 20px;
    -fx-background-color: rgba(27, 123, 86, 0.84);
    -fx-background-image: url("/com/dp1mtel/desktop/pictures/distribucion.png");
    -fx-background-size: 25px;
    -fx-background-position: 5px;
    -fx-background-repeat: no-repeat;
}

.menu-section JFXButton:hover{
    -fx-background-color: rgba(27, 123, 86, 0.84);
    -fx-text-alignment: right;
}
#account {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-cursor: hand;

}
