.label{
    -fx-text-fill: black;

}

.background{
    -fx-background-color: white;
    -fx-pref-height: 510px;
    -fx-pref-width: 1000px;
}

.textField{
    -fx-padding: 20px;
}
.pane{
    -fx-pref-height: 510px;
    -fx-pref-width: 1000px;
}


.label{

    -fx-font-family: 'Acme', sans-serif;
    


}

.back{
    -fx-background-color: white;
}

.table-view .table-row-cell{

    -fx-control-inner-background: rgba(255, 255, 255, 0.98);
    control-inner-background-alt: rgba(178, 222, 253, 0.84);
}