.root{
    -fx-font-size: 14;
    -fx-font-family: "Roboto","Helvetica";
    -fx-background: rgb(250, 250, 250);
    -fx-border-color:
            linear-gradient(to right, rgba(0, 0, 0, 0.2), transparent),
            linear-gradient(to top, rgba(0, 0, 0, 0.2), transparent),
            linear-gradient(to left, rgba(0, 0, 0, 0.2), transparent);
    -fx-border-style: solid;
    -fx-border-width:
            0 0 0 0.417em,
            0 0 0.417em 0,
            0 0.417em 0 0;
}

.pane-basicwindow {

}

.title{
    -fx-font-size: 20;
    -fx-font-family: "Roboto","Helvetica";
}