.txt-error {
    -fx-font-size: 12px;
    -fx-text-fill: #d93731;
}


.btn-danger {
    -fx-background-color: #d93731;
    -fx-text-fill: #ffffff;
    -fx-font-size:14px;
    -fx-min-width: 100;
    -fx-pref-height: 40;
}

.btn-success {
    -fx-background-color: #5cb85c;
    -fx-text-fill: #eee;
    -fx-font-size:14px;
    -fx-min-width: 100;
    -fx-pref-height: 40;
}


.btn-default {
    -fx-font-size:14px;
    -fx-min-width: 100;
    -fx-pref-height: 40;
    -fx-background-color: #fff;
}

.btn-primary {
    -fx-background-color: #337ab7;
    -fx-text-fill: #eee;
    -fx-font-size: 14px;
    -fx-min-width: 50;
    -fx-pref-height: 40;
}

.btn-Smile{
    -fx-background-color: #5cb85c;
    -fx-text-fill: #eee;
    -fx-font-size:14px;
    -fx-min-width: 50;
    -fx-pref-height: 30;

}

.btn-Denied{
    -fx-background-color: #d93731;
    -fx-text-fill: #ffffff;
    -fx-font-size:14px;
    -fx-min-width: 50;
    -fx-pref-height: 30;
}

.btn-Cool {
    -fx-background-color: #337ab7;
    -fx-text-fill: #eee;
    -fx-font-size:14px;
    -fx-min-width: 100;
    -fx-pref-height: 30;
}
.jfx-button {
    -jfx-button-type: RAISED;
}

.fab {
    -fx-pref-height: 30;
    -fx-background-color: rgba(27, 123, 86, 0.84);
    -fx-background-radius: 15;
    -fx-text-fill: #fff;
    -fx-font-weight: BOLD;
}

#table-cart-item .table-column,
#table-cart-item .table-cell {
    -fx-alignmment: CENTER;
}